/* Estilos para pantallas m치s grandes */
.inicio {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #1a1826, #413b5e);
  padding: 20px 20px 200px;
  align-items: center;
}

.titleContainer {
  padding-top: 80px;
}

.inicio p {
  font-size: 2.5em;
  color: #f1f1f1;
}

.callToAction {
  background-color: #508094;
  padding: 10px;
  margin-left: 20px;
  transition: 0.5s;
}

.callToAction:hover {
  padding: 15px;
  cursor: pointer;
}

.ctaContainer {
  padding-top: 40px;
}

/* Estilos para pantallas m치s peque침as (m칩viles) */
@media (max-width: 768px) {
  .inicio {
    padding: 20px;
  }

  .titleContainer {
    padding-top: 40px;
  }

  .inicio p {
    font-size: 1.5em;
  }

  .callToAction {
    padding: 15px;
    margin-left: 0;
  }

  .ctaContainer {
    padding-top: 20px;
  }
}